header#masthead {
	display: flex;
  justify-content: space-around;
	padding: 0 0 5px 0;
	background-color: $support-white;
	@media screen and (max-width: 830px) {
		flex-direction: column;
	}
	.site-branding {
		width: 45%;
		display: flex;
		margin: 0 0 0 -20px;
		padding-left: 9%;
		-webkit-transform: skew(20deg);
	 	-moz-transform: skew(20deg);
		-o-transform: skew(20deg);
		padding-bottom: 20px;
		@media screen and (max-width: 991px) {
			width: 35%;
			margin: 0 0 0 -30px;
			padding-left: 5%;
		}
		@media screen and (max-width: 830px) {
			width: 60%;
			margin-left: -50px;
		}
		@media screen and (max-width: 600px) {
			width: 100%;
		}
		img {
			-webkit-transform: skew(-20deg);
		 	-moz-transform: skew(-20deg);
			-o-transform: skew(-20deg);
			@media screen and (max-width: 830px) {
				margin-left: 70px;
				background-color: transparent;
			}
		}
	}
}
.main-navigation {
	clear: both;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 55%;
  float: right;
	align-items: center;
	padding-bottom: 10px;
	@media screen and (max-width: 991px) {
		width: 65%;
	}
	@media screen and (max-width: 830px) {
		width: 100%;
		padding: 0px 0 20px;
	}



	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;


		@media screen and (max-width: 600px) {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
		}
		ul {
			background-color: white;
			float: left;
			position: absolute;
			top: 40px;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;
		margin: 10px;
    padding: 10px 20px;
		@media screen and (max-width: 830px) {
			margin: 5px;
			padding: 10px 40px 0px;
		}
		@media screen and (max-width: 670px) {
			margin: 5px;
			padding: 10px 20px 0px;
		}
		@media screen and (max-width: 590px) {
			margin: 5px;
			padding: 10px 10px 0px;
		}
		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle {
	display: none;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
